body{
    background-color: #F2F2F2;
}
#id{
    display:none;
}
#content{
    text-align: center;
    margin:50px auto;
    height:160px;
}
#ans_btn{
    margin-top:10px;
    float:right;
}
#answer_result{
    display: none;
    margin-top:10px;
    text-align: center;
}